*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

main{
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #E5E5E5; 
}
section{
    margin:0 235px;
}

header{
    width: 100%;
    display: flex;
    justify-content: right;
    height: 10%;
    box-shadow: 0.5px 2px 11px grey;
}

.navbar {
    width: 30%; 
    display: flex;
    align-items: center;  
}
.navbar > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    list-style: none; 
    text-decoration: none;
}
 ul > li { 
    color: #000000;
    cursor: pointer;
}
   
ul > li:hover{
    color:#FF6464;
}
.banner{
    margin: 20px auto;
    background: #E5E5E5;
    padding: 10px;
    display: flex;
    width: 75%;
    height: 55vh;
}
h1{
    font-weight: 650;
    font-size: 40px;
    line-height: 60px;
    color: #21243D;
    width: 506px;
    height: 105px;
}

.left-content, .right-content{
    margin-top: 100px;
    /* Size:20px; */

}
.left-content > p{
    padding-top: 30px ;
    width: 497px;
    height: 66px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 60px;
}
.left-content{
    width: 70%;
}

.right-content{
    width: 30%;
}

.img-box > img{
    border-radius: 100%;
    width: 350px;
    height: 350px;
}

.btn{
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    width: 250px;
    height: 50px;
    background-color: #FF6464;
    border: 2px solid #FF6464;
    }

 .btn:hover{
    cursor: pointer;
 }
 .btn > a{
    text-decoration: none;
    color:#FFFFFF;
 }
 .recent-Post{
    margin-top: 80px;
    background: #EDF7FA;
    height: 40%;
    width: 75%;
    }

.tags{
   display: flex;
   justify-content: space-between; 
}
.tags > h3{
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    width: 150px;
    height: 60px;
    color: #21243D; 
    margin-left: 40px;
}
.tags > div >a {
    color: #00A8CC;
    font-weight: 400;
    font-size: 16px;
    width: 250px;
    height: 20px;
    margin-right: 40px;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    display: flex;
    justify-content: end;
    margin-top: 25px;
  

}
.wrapper{
    display: flex;
    justify-content: space-evenly; 
}
.left{

    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    width: 45%;
    padding-left: 40px;
}
.left > h4{
    color: #21243D;
    font-weight: 600;  
    font-size: 22px;
    line-height: 38px;
    width: 374px;
    height: 85px;
}
.newer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.border1{
    padding-right:40px ;
    border-right: 2px solid #21243D;
}
.border2{
    padding-left: 20px;
}
.left > span{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
}

.left > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 368px;
    height: 117px;
    color: #21243D
}
.graph{
    font-weight: 600;
    font-size: 22px;
    line-height: 44px;
    width: 337px;
    height: 44px;
    color: #21243D;
}
.featured-works > h4{
   margin-top: 50px;
    width: 160px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #21243D;
    }

.contentpicture{
    display: flex;
    margin: 20px 0px;
}
.content{
    padding-left: 30px;
}
.para{
    width: 594px;
    height: 93px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-bottom: 20px;
}
.year{
    width: 42px;
    height: 60px;
    background-color:#21243D ;
    color: #FFFFFF;
     border-radius: 45%;
     font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    padding: 5px 10px;
}
.olab{
    width: 97px;
    height: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 20px;
    color: #8695A4;
} 
.picture{
    width: 246px;
    height: 180px;
}
footer{
    height: 130px;
    width: 100%;
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 20px;

}
.images{
   display: flex;
   justify-content: space-evenly;
   width: 20%;
}
.images > img{
   width: 30px;
   height: 30px;
}

 .copyright{
   font-weight: 400;
   Size:14px;
   display: flex;
   justify-content: center;
   height:21%;
   color: #21243D;
 }