*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}
main{
max-width: 1500px;
margin: 0 auto;
height: auto; 
background: #FFFFFF;

}
/* section{
    margin: 20px 0px;
} */
header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    box-shadow: 0.5px 2px 11px grey;
}

.navbar {
    width: 30%; 
    display: flex;
    align-items: center; 

}
.navbar > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
   
}
 li { text-decoration: none;
    color: #000000;
    list-style: none;
    cursor: pointer;
}
   

ul > li:hover{
    color:#FF6464;
}
section{
    margin:0 235px;
}
h1{
    width: 156px;
    height: 54px;
    margin-top: 100px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    }
    
    h3{
        font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    }
    .contentpicture{
        display: flex;
        margin: 20px 0px;
    }
    .content{
        padding-left: 30px;
    }
    .para{
        width: 418px;
        height: 93px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #21243D;
        padding-bottom: 20px;
    }
    .year{
        width: 42px;
        height: 60px;
        background-color:#21243D ;
        color: #FFFFFF;
         border-radius: 50%;
         font-weight: 900;
        font-size: 18px;
        line-height: 60px;
        padding: 5px 10px;
    }
   .olab{
    width: 97px;
    height: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 20px;
    color: #8695A4;
} 
.picture{
    width: 246px;
    height: 180px;
}
    footer{
        height: 142px;
        width: 100%;
       margin-top: 50px;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       padding: 20px;
   
   }
   .images{
       display: flex;
       justify-content: space-evenly;
       width: 20%;
   }
   .images > img{
       width: 30px;
       height: 30px;
   }
   
     .copyright{
      
       font-weight: 400;
       Size:14px;
       display: flex;
       justify-content: center;
       height:21%;
       color: #21243D;
     }